.banner{
    position: absolute;
    margin: 16px;
    margin-top: 166px;
    padding: 0px;
    /* height: 155px; */
    /* width: 100%; */
    top: -42px;
    left: 251px;
}
.heading1{
    position: absolute;
    display: inline;
    top: 562px;
    left: -104px;
    width: 100%;
}
.group{

    position: absolute;
    top: 700px;

}
#new .one{
    position: relative;
}

#new .one img{
    width: 100%;
    height: 100%;

    object-fit: cover;
}
#new .one .details{
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top:-409px;
    left: 0;
    transition: 0.5s ease;
    color: rgb(255, 255, 255);
    /* overflow: hidden; */
    

}
#new .one:hover .details{
    position: absolute;
    top: 0px;
    opacity: 100%;
    cursor: pointer;
    background-color: rgba(75, 131, 131, 0.705);
    width: 100%;
    height: 100%;
}
#new .one .details button{  
    opacity: 100%;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    color: #2a2a2a;
    background: none;
    border: none;
    text-transform: uppercase;
    border-bottom: 1px solid #2a2a2a;
    padding: 2.5px;
    transform: translateY(70px);
    transition: 0.3s ease;
}
#new .one .details button:hover{
    color: rgb(255, 255, 255);
    border: none;
    border-bottom: 2px solid rgb(255, 255, 255);
    
}
#new .one:nth-child(1) .details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: start;
}
#new .one:nth-child(2) .details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: start;
}
#new .one:nth-child(3) .details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: start;
}
#new .one:nth-child(4) .details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: start;
}
hr{
    position: relative;
    top: 1500px;
}
